{% extends "base.html" %}

{%block content%}
<div class="container-fluid overflow-auto" style="overflow: scroll; width: 1290px; height: 560px;">
    <table class="table table-success table-bordered caption-top" style="margin-top: 90px;">
        <caption>Your Shifts for the Month</caption>
        <tr>
            <th>Monday,November 29th</th>
            <th>Tuesday,November 30th</th>
            <th>Wednesday,December 1st</th>
            <th>Thursday,December 2nd</th>
            <th>Friday,December 3rd</th>
        </tr>
        <tr>
            <td class="table-warning"></td>
            <td class="table-warning"></td>
            <td>8:00AM - 5:00PM</td>
            <td>8:00AM - 5:00PM</td>
            <td>8:00AM - 5:00PM</td>
        </tr>
    </table>
    <table class="table table-success table-bordered" >
        <tr>
            <th>Monday,December 6th</th>
            <th>Tuesday,December 7th</th>
            <th>Wednesday,December 8th</th>
            <th>Thursday,December 9th</th>
            <th>Friday,December 10th</th>
        </tr>
        <tr>
            <td>8:00AM - 5:00PM</td>
            <td>8:00AM - 5:00PM</td>
            <td>8:00AM - 5:00PM</td>
            <td>8:00AM - 5:00PM</td>
            <td class="table-warning"></td>
        </tr>
    </table>
    <table class="table table-success table-bordered" >
        <tr>
            <th>Monday,December 13th</th>
            <th>Tuesday,December 14th</th>
            <th>Wednesday,December 15th</th>
            <th>Thursday,December 16th</th>
            <th>Friday,December 17th</th>
        </tr>
        <tr>
            <td>8:00AM - 5:00PM</td>
            <td>8:00AM - 5:00PM</td>
            <td>8:00AM - 5:00PM</td>
            <td>8:00AM - 5:00PM</td>
            <td>8:00AM - 5:00PM</td>
        </tr>
    </table>
    
    <table class="table table-success table-bordered" >
        <tr>
            <th>Monday,December 20th</th>
            <th>Tuesday,December 21st</th>
            <th>Wednesday,December 22nd</th>
            <th>Thursday,December 23rd</th>
            <th>Friday,December 24th</th>
        </tr>
        <tr>
            <td>8:00AM - 5:00PM</td>
            <td>8:00AM - 5:00PM</td>
            <td>8:00AM - 5:00PM</td>
            <td>8:00AM - 5:00PM</td>
            <td>8:00AM - 5:00PM</td>
        </tr>
    </table>
    
    <table class="table table-success table-bordered" >
        <tr>
            <th>Monday,December 27th</th>
            <th>Tuesday,December 28th</th>
            <th>Wednesday,December 29th</th>
            <th>Thursday,December 30th</th>
            <th>Friday,December 31st</th>
        </tr>
        <tr>
            <td>8:00AM - 5:00PM</td>
            <td>8:00AM - 5:00PM</td>
            <td>8:00AM - 5:00PM</td>
            <td>8:00AM - 5:00PM</td>
            <td class="table-warning"></td>
        </tr>
    </table>
    
</div>

{%endblock%}