{% extends "base.html" %}

{%block content%}

<div class="home-container">

    <div class="terms">
        <p>Terms of Service:</p>
        <p>By using Periscope you agree to the following terms and Conditions</p>
        <ul>
            <li>
                Periscope will track and monitor your online browser activity including the sites visited, 
                the time spent on them and your activeness on the sites. Periscope will then analyse this
                information to calculate your total activity score.
            </li>
            <li>
                Periscope will track your work process and establish it's efficiency and include this calculation in 
                your activity score
            </li>
        </ul>
        <p>For further details,</p>
        <a href="https://app.cloudfactory.com/cw_privacy_policy">Read about our privacy and remote work policies</a>
    </div>
    <div class="active-shifts">
        <h3>Active Shifts</h3>
        <div id="shift-container">
            <p id="shift-date">Friday 10th December 2021</p>
            <p id="shift-time">8:00am - 5:00pm</p>
        </div>
        <input type="button" value="START" id="start-button">
    </div>
</div>

{%endblock%}